* {
	outline: none;
	font-family: "Microsoft Yahei", "WenQuanYi Micro Hei", "Helvetica", "SimHei";
}
html, body {
	margin: 0;
	padding: 0;
	font-size: 1em;
}
body {
	background: url(/template/zfj4.0/images/bg.png) #FFF no-repeat;
	display: table;
	position: absolute;
	overflow: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media screen and (min-width: 1440px) {
	body {
		background-size: 100%;
	}
}
.hidden {
	display: none;
	visibility: hidden;
	position: absolute;
}
.mui-form-group {
	text-align: left;
	max-width: 80%;
	margin: auto;
}
label {
	overflow: hidden;
}
b {
	font-weight: bold !important;
}
header {
	height: 39px;
	background: url(../img/toptb.png) repeat-x;
	overflow: hidden;
}
header a {
	text-decoration: none;
}
.wrapper {
	display: table-cell;
	vertical-align: middle;
	margin: auto;
}
.container {
	vertical-align: middle;
	width: 95%;
	max-width: 640px;
	margin: 0 auto;
	padding: 0 0.2em;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
	border-radius: 0.4em;
}
.nav-ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	margin-left: 0.5em;
	padding: 0;
}
.nav-ul li {
	display: inline-block;
	padding: 0 0.8em;
	height: 39px;
	line-height: 39px;
	color: #FFF;
	font-size: 0.9em;
}
.nav-ul li:hover {
	background: #06C;
}
.zfjlogo {
	max-width: 75%;
}
.tabs {
	overflow: hidden;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}
.tab {
	display: inline-block;
	padding: 0.5em 0;
	float: left;
	cursor: pointer;
	box-sizing: border-box;
}
.tabs.v1 .tab {
	width: 84%;
	margin-left: 7%;
	margin-right: 7%;
}
.tabs.v2 .tab {
	width: 50%;
}
.tabs.v3 .tab {
	width: 33.33333333%;
}
.tabs.v4 .tab {
	width: 25%;
}
.tab-current {
	border-bottom: 2px solid #2196F3;
	color: #2196F3;
}
.max{
	max-width: 400px;
	height: 36px;
/*	margin-left:10%;
	margin-right: 10%;*/
}
.groups {
	max-width: 400px;
	margin: 0 auto;
	padding: 1em 0;
}
.group {
	display: none;
}
.group-current {
	display: block;
}
input[disabled] {
	cursor: no-drop;
}
.left {
	text-align: left;
}
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.mt1 {
	margin-top: 1em;
}
.mb1 {
	margin-bottom: 1em;
}
.tip {
	margin: 1em 0.5em;
	padding: 0.5em 0;
	font-size: 0.9em;
	border-radius: 0.3em;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	color: #FFF;
}
.tip-warning {
	background: rgba(243, 156, 18, 0.5);
}
.tip-info {
	background: rgba(41, 128, 185, 0.5);
}
.tip-success {
	background: rgba(39, 174, 96, 0.5);
}
.tip-danger {
	background: rgba(192, 57, 43, 0.5);
}
.green {
	color: #1ABC9C;
}
.userlist {
	max-width: 400px;
	margin: 0;
	padding: 1em;
	list-style-type: none;
	text-align: center;
	display: inline-block;
}
.userlist a {
	display: inline-block;
	color: #000;
	padding: 1em;
	text-align: center;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 0.4em;
	transition: all 500ms;
}
.userlist a:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	background: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	color: #000;
}
.userlist img {
	width: 120px;
	height: 120px;
	border-radius: 0.4em;
}
.failed input {
	border: 1px solid red;
}
.failed:after {
	content: attr(data-msg);
	display: inline-block;
	position: absolute;
	color: red;
	font-size: 0.9em;
	width: 200px;
	padding: 0.35em;
	text-align: left;
}
#wechat_qrcode {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 0.5em;
	margin-top: 1em;
	margin-bottom: 1.5em;
}
#wechat_tip {
	margin: 0.5em 2em;
	font-size: 0.9em;
	text-align: left;
	color: #666;
}
.new-man
{
	color: rgba(148,149,220);
	font-size: 125%;
	display: inline-block;
	border-top:10px;
}
.new-man:hover
{
	text-decoration: none;
}
.a_link
{
	color: rgba(148,149,220);
	margin-left: 10px;
	display: inline-block;
	border-top:10px;
}
.a_link:hover
{
	text-decoration: none;
}
